@using System.Web.Optimization
@model FileDrop.Web.Models.ImageEditorViewModel

@{
    ViewBag.Title = Model.File.FileName;
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">
            File Drop Image Editor
        </h3>
    </div>

    <!-- Nav Tabs-->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#sliders" aria-controls="image sliders" role="tab" data-toggle="tab">Image Sliders</a></li>
        <li role="presentation"><a href="#filters" aria-controls="image filters" role="tab" data-toggle="tab">Filters</a></li>
    </ul>
    <div class="table-body tab-content">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">
                <div id="editingTools" class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="sliders">
                        <div class="form-group">
                            <label id="brightnessLabel" for="brightnessSlider">Brightness</label>
                            <input id="brightnessSlider" type="range" min="-100" max="100" value="0" step="1" data-filter="brightness"/>
                        </div>
                        <div class="form-group">
                            <label id="contrastLabel" for="contrastSlider">Contrast</label>
                            <input id="contrastSlider" type="range" min="-100" max="100" value="0" step="1" data-filter="contrast"/>
                        </div>
                        <div class="form-group">
                            <label id="hueLabel" for="hueSlider">Hue</label>
                            <input id="hueSlider" type="range" min="0" max="300" value="0" step="1" data-filter="hue"/>
                        </div>
                        <div class="form-group">
                            <label id="vibranceLabel" for="vibranceSlider">Vibrance</label>
                            <input id="vibranceSlider" type="range" min="0" max="400" value="0" step="1" data-filter="vibrance"/>
                        </div>
                        <div class="form-group">
                            <label id="sepiaLabel" for="sepiaSlider">Sepia</label>
                            <input id="sepiaSlider" type="range" min="0" max="100" value="0" step="1" data-filter="sepia"/>
                        </div>
                        <div class="form-group">
                            <label id="gammaLabel" for="gammaSlider">Gamma</label>
                            <input id="gammaSlider" type="range" min="1.0" max="5" value="1.0" step="0.1" data-filter="gamma"/>
                        </div>
                        <div class="form-group">
                            <label id="exposureLabel" for="exposureSlider">Exposure</label>
                            <input id="exposureSlider" type="range" min="-100" max="100" value="0" step="1" data-filter="exposure"/>
                        </div>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="filters">
                        <span>Filters...</span>
                    </div>

                    <div class="form-group">
                        <button class="btn btn-primary btn-xs">Save</button>
                        <button class="btn btn-info btn-xs">Download</button>
                        <button id="reset" class="btn btn-danger btn-xs">Reset</button>
                    </div>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 col-xs-6">
                <div id="imageEditor" class="table-body" >
                    <img id="editImage" src="@Model.DataUrl" class="img-responsive" />
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/Bundles/camanjs")
    <script src="~/js/image-editor.js"></script>
}
