
<!-- Modal -->
<div class="modal fade" id="beforeAfterModal" tabindex="-1" role="dialog" aria-labelledby="beforeAfterLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Before and After</h4>
            </div>
            <div class="modal-body">
                <label id="beforeAfterLabel">Before</label>
                <img src="" id="before" class="img-responsive" />
                <img src="" id="after" class="img-responsive" />
            </div>
            <div class="modal-footer">
                <button id="beforeBtn" type="button" class="btn btn-default">Before</button>
                <button id="afterBtn" type="button" class="btn btn-default">After</button>
            </div>
        </div>
    </div>
</div>