
    <label id="filtersLabel" for="filtersList">Filters</label>
    <select class="form-control" id="filtersList">
        <option value="clarity">Clarity</option>
        <option value="crossProcess">Cross Process</option>
        <option value="blur">Radial Blur</option>
    </select>
