
    <label id="filtersLabel" for="filtersList">Filters</label>
<select class="form-control" id="filtersList">
    <option value="clarity">Clarity</option>
    <option value="crossProcess">Cross Process</option>
    <option value="greyscale">Greyscale</option>
    <option value="hdr">HDR</option>
    <option value="blur">Radial Blur</option>
    <option value="vintage">Vintage</option>
</select>

<button id="applyFilter" class="btn btn-primary">Apply Filter</button>
