@model FileDrop.Web.Models.ImageEditorViewModel

<span id="fileName"><strong>Filename: </strong> @Model.File.FileName</span> <br/>
<span id="imageWidth"><strong>Image Width: </strong></span> <br/>
<span id="imageHeight"><strong>Image Height: </strong></span> <br/>
<p></p>
@*<span><strong>Rotate Image:</strong> </span>
<i id="rotateLeft" class="fa fa-undo" style="cursor: pointer"></i>
<i id="rotateRight" class="fa fa-repeat" style="cursor: pointer"></i> <br/>*@